* {
  box-sizing: border-box;
}

/* .forecast {
  display: flex;
} */

.forecast-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  text-align: left;
}

.temp {
  font-size: 4.5em;
  font-weight: bold;
}